.boton1{
    font-size: 16px;
    border-radius: 30%;
    background-color: greenyellow;
}

.boton2{
    font-size: 16px;
    border-radius: 30%;
    padding: 10px;
    background-color: red;
}

.boton3{
    font-size: 32px;
    border-radius:0;
    background-color: black;
    color:white;
}